<% if current_user %>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? yield(:title) : "MyBook" %></title>
      <%= csrf_meta_tags %>
    </head>
    <body class="welcome-bg">
        <h3>Welcome, <%= current_user.full_name.present? ? current_user.first_name : current_user.email %></h3>
    </body>
  </html>

<% else %>

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? yield(:title) : "MyBook" %></title>
      <%= csrf_meta_tags %>
    </head>
    <body class="reg-bg">
      <%= render 'welcome/signup' %> 
    </body>
  </html>

<% end %>