<div>
  <div class="photo-area">
    <%= render 'photos/photo' %>
  </div>
  <div class="comments-area">
    <span><%= link_to ("<i class='fa fa-times pull-right'></i>").html_safe, photos_path %></span>
    <%= render 'photos/liking/likes', post: @photo %>
    <%= render 'comments/comment' %>
    <%= render 'comments/form' %>
  </div>
</div>